/*********************************** IDs ************************************/

#home {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
}

/******************************* Classes ********************************/

.navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonMain {
    font-size: 3em;
    padding: 2%;
    height: 25%;
    width: 100%;
    margin-top: 10%;
}

.ad {
	width: 30vh;
    height: 23vh;
	border: 0;
	vertical-align: middle;
}

/******************************* Tags ********************************/

h1 {
    font-weight: 700;
    text-align: center;
}