/*********************************** IDs ************************************/

#home {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
}

/******************************* Classes ********************************/

.buttonMain {
    font-size: 3em;
    padding: 2%;
    height: 25%;
    width: 100%;
    margin-left: 15%;
    margin-top: 10%;
}

.ad {
	width: 30vh;
    height: 23vh;
	border: 0;
	vertical-align: middle;
}