/******************************* IDs ********************************/

#ranking {
    width: 90%;
    height: 60vh;
    overflow-y: scroll;
    margin: auto;
    display: block;
    border: 2px solid #398AD7;
}