@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a;
  --foreground: #ffffff;
  --clr-rare: #007bff; /* Blue color */
  --clr-common: #28a745; /* Green color */
  --clr-special: #dc3545; /* Red color */
  --clr-legendary: #ffd700; /* Gold color */
  --clr-epic: #6f42c1; /* Purple color */
  --gradient: linear-gradient(
    45deg,
    #007bff,
    #6f42c1
  ); /* Blue & purple gradient */
}

/* Import font for headings */
@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px; /* szerokość dla pionowego scrollbar */
  height: 12px; /* wysokość dla poziomego scrollbar */
}

/* Tor (tło) scrollbara */
::-webkit-scrollbar-track {
  background: var(--background); /* kolor tła */
  border-radius: 10px; /* zaokrąglenie toru */
}

/* Sam uchwyt (rączka) scrollbara */
::-webkit-scrollbar-thumb {
  background: var(--clr-rare);
  border-radius: 10px; /* zaokrąglenie rączki */
}

/* Hover nad uchwytem */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-epic);
  cursor: pointer;
}

/* Gradient */
.gradient-bg {
  @apply bg-gradient-to-b from-black to-gray-900;
}

.text-gradient {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-border {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-radius: 8px; /* Dopasuj do swojego komponentu */
}

.gradient-border::before,
.gradient-border::after {
  content: "";
  position: absolute;
}

.gradient-border::before {
  top: -3px; /* Dopasuj do grubości borderu */
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  background: var(--gradient); /* Gradient */
  background-size: 200% 200%;
  animation: rotate-border 3s linear infinite;
  /* inset: -50%; */
  z-index: -1;
}

.gradient-border::after {
  inset: 0.25rem;
  background-color: var(--background);
  z-index: -1;
}

@keyframes rotate-border {
  to {
    transform: rotateZ(360deg);
  }
}

/* Icons */
.icon {
  @apply w-6 h-6 md:w-8 md:h-8;
  transition: all 0.3s ease-in-out;
}
.icon:hover {
  fill: var(--clr-rare);
  filter: drop-shadow(0 0 0.5rem var(--clr-epic));
  transform: scale(1.25);
}
.icon:active {
  color: var(--clr-rare);
  filter: drop-shadow(0 0 0.5rem var(--clr-rare));
}

/* Home page images */
.img {
  @apply rounded-lg transition-all duration-500 ease-in-out;
}
.img:hover {
  @apply rounded-none drop-shadow-epic;
}

.nav-btn {
  @apply absolute top-1/2 transform -translate-y-1/2 bg-background bg-opacity-50 text-foreground p-2 rounded-full opacity-0 group-hover:opacity-100 transition-opacity;
}

/* Headers */
.header {
  @apply text-6xl p-4 lg:text-8xl;
}
.sub-header {
  @apply text-4xl p-4 lg:text-6xl;
}

/* Inputs */
.input {
  @apply px-4 py-1 rounded bg-epic transition-all duration-300 ease-in-out focus:bg-rare outline-none text-lg w-full lg:text-xl;
}

.btn {
  @apply py-2 w-full rounded border-2 border-epic font-bold hover:bg-epic transition-all duration-300 ease-in-out;
}

/* User page elements */
.user-field {
  @apply p-4 rounded-lg border-2 border-gray-600 shadow-md bg-gray-800 flex justify-between items-center;
}
.user-input {
  @apply transform transition duration-300 hover:border-legendary hover:scale-105 cursor-pointer;
}
.user-btn {
  @apply font-bold w-full rounded-lg text-foreground transition-all duration-300 ease-in-out hover:text-legendary;
}
.utility-btn {
  @apply bg-transparent rounded-lg py-2 px-4 hover:text-background transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-opacity-50;
}

/* Card rarities */
.common {
  @apply border-common;
}
.common:hover {
  @apply shadow-common;
}
.common img {
  @apply border-common;
}
.common:hover img {
  @apply drop-shadow-common;
}
.common h2 {
  @apply text-common;
}

.rare {
  @apply border-rare;
}
.rare:hover {
  @apply shadow-rare;
}
.rare img {
  @apply border-rare;
}
.rare:hover img {
  @apply drop-shadow-rare;
}
.rare h2 {
  @apply text-rare;
}

.epic {
  @apply border-epic;
}
.epic:hover {
  @apply shadow-epic;
}
.epic img {
  @apply border-epic;
}
.epic:hover img {
  @apply drop-shadow-epic;
}
.epic h2 {
  @apply text-epic;
}

.legendary {
  @apply border-legendary;
}
.legendary:hover {
  @apply shadow-legendary;
}
.legendary img {
  @apply border-legendary;
}
.legendary:hover img {
  @apply drop-shadow-legendary;
}
.legendary h2 {
  @apply text-legendary;
}

.cursed {
  @apply border-special;
}
.cursed:hover {
  @apply shadow-special;
}
.cursed img {
  @apply border-special;
}
.cursed:hover img {
  @apply drop-shadow-special;
}
.cursed h2 {
  @apply text-special;
}
